{% extends 'base.html' %}
{% block title %} Home {% endblock %}
	
{% block body %}
<div class="intro-header" id="home-page">
	<div class="container" style="position:fixed;">
		<div class="row">
			<div class="col-lg-12"> 
				<div class="intro-message justify-left" style="text-align: left">
					<h2><mark style="background-color: orange; color: navy; text-align: center;">CSE Shift Plan App</mark></h2>
					<br>
					<h5><mark style="background-color: green; color: yellow; text-align: center;">Break Hurdles And Be Easier!!</mark></h5>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
</body>
</html>