{% extends 'base.html' %}
{% block title %} 404 Error Page {% endblock %}
	
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="error-template">
				<br><br><br><br>
				<h1>Oops!</h1>
				<h2>404 Not Found</h2>
				<div class="error-details">
					Sorry, an error has occured, Requested page not found! Please create the roaster for your team: {{session['team']}}
				</div>
				<div class="error-actions">
					<br><a href="{{ url_for('home.homePage') }}" class="btn btn-warning btn-lg"><span class="fa fa-home"></span>
						Take Me Home </a>
					<a href="{{ url_for('shiftDashboard.dashboard') }}" class="btn btn-success btn-lg"><span class="fa fa-table"></span> Take Me To Roaster</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}