{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends 'base.html' %}
{% block content %}
<title>Login</title>
	
{% block body %}
	<div class="form-wrapper">
		<div class="content-section">
			<br>{{ utils.flashed_messages() }}<br>
			<div class="center">
				<form class="form form-horizontal" method="post" role="form" style="font-weight: bold;">
					<br>
					{{ wtf.form_errors(form, hiddens="only") }}
					{{form.csrf_token}}
					<div class="text-center" style="margin-top: -30px">
						<img src="static/img/shift-logo-body.png" alt="CTPT" style="width:80px;">
					</div>
					<h2 class="title" style="color: blue; text-align: center;">Login To Your Account Shift Plan App!!</h2>
					<hr class="intro-divider" width="300%">
					<br>
					{{ wtf.form_field(form.email) }}
					{{ wtf.form_field(form.password) }}
					<a class="{{ 'btn btn-info'}}" style="height: fit-content; width: fit-content;" id="login">{{wtf.form_field(form.submit) }}</a>
					<script>
						$(document).ready(function () {
							$("#login").on('click', function () {
								var e = this;
								setTimeout(function () {
									e.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Signing In....';
									e.disabled = true;
									e.button('reset');
								}, 0);
								location.reload(true); 
								return true;
							});
						});
					</script>
				</form>
			</div>
			<div class="login-signup center">
				<span>Don't have an account? <a class="{{ 'btn btn-success' }}" href="{{ url_for('auth.user_register') }}">
						<span class="fa fa-sign-in"> Register</span></a></span>
			</div>
			<br><br>
		</div>
	</div>
{% endblock %}
{% endblock %}
</body>
</html>
